/* html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-right: 0.125rem
 }
 
 html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
    margin-left: 0.125rem
 } */
 
 /* html[dir="ltr"]  */
 .detailClass .sapMObjStatusText {
     text-decoration: line-through;
 }

 /* html[dir="ltr"]  */
 .myAppDemoDetail .myCustomText {
    text-decoration: line-through;
 }

 .ShoppingCard {
   font-size: 50px;  
   font-weight: bold;
  }

  .relatedProductCard {
     display: flex;
     flex-direction: column;
     align-content: center;
     max-width: 150px;
  }

  .relatedProduct__current,
  .relatedProduct__old {
     display: inline-block;
  }

  .relatedProduct__old {
     text-decoration: line-through;
  }

  .tileLayout-pink {
   background-position: center center !important;
    height: 190% !important;
  }

  .circleTile {
   border-radius: 50% !important;
   height: 160px !important;
  }

  .videoLayout {
   height: 250px !important;
  }

  .footer__page {
   height: 300px !important;
   background-color: #93b7d6 !important;
  }

  .socialMediaTile {
     max-height: 30px !important;
  }

  .timer__text .sapMObjectNumberText{
     font-size: 60px;
     overflow: visible;
     min-height: 3rem;
     line-height: 0rem;
  }
